body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/* ----------------
banner section style
------------------  */
.banner{
    background-color: #2D25A0;;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.banner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 50px;
}
.heading{
    font-size: 2em;
    color: white;
}
.ball-btn{
    color: white;
    font-size: 20px;
    border: 0;
    background-color: #E02C6D;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.fa-solid{
    margin-left: 10px;
}
/*-----------------------
 transform and transition start
 ------------------  */
h1:hover{
    transform: rotate(-360deg);
    transition-property: transform;
    transition-duration: 2s;
    transition-timing-function:cubic-bezier(-1, 0, 0, 1);
}
.fa-arrow-right:hover,.fa-circle-chevron-right:hover{
    font-size: 1.5em;
    transform: rotate(360deg);
    transition-property: transform;
  transition-duration: 4s;
  transition-timing-function: linear;
}
/*-----------------------
 transform and transition end
 ------------------  */


/* -------------
player section style
 ------------- */
 .center-alignment{
    display: flex;
    justify-content: center;
    align-items: center;
}
 .players , .get-involved-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
   padding: 35px;

   }
   .player,.each-item{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding-left: 10px;
    padding-right:10px;
    padding-bottom: 15px;
    padding-top: 10px;
    max-width: 330px;

   }
 .player img {
     width: 100%;
 }

 /* get-involved syle  */
 .text-center{
     text-align: center;
    
 }
 .section-tittle{
     font-size: 2.5em;
 }
 
 .system{
     display: flex;
     justify-content: space-between;
 }
.system-tittle{
    color: rgb(66, 65, 65);
}
.fa-circle-chevron-right{
    color: black;
}
 
/*--------------
 footer style 
------------- */

 footer img{
    width: 483px;
    height: 110px;
   }
   .social-icon{
       display: flex;
       align-items: center;
       justify-content: center;
       
   }
   .fab, .fas{
       color:  #969BAB;;
    width: 30px;
    height: 30px;
    font-size: 30px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    
}



/*------------------------------- media query-----------------------------  */

/*-----------
 mobile phone
 ----------  */
@media only screen and (max-width:688px) {
   .banner{
       grid-template-columns: repeat(1,1fr);
   } 
   .players{
       grid-template-columns: repeat(1,1fr);
   }
   .get-involved-container{
       grid-template-columns: repeat(1,1fr);
   }
    
}
/* --------------
media query for tablet
------------  */
@media only screen and (min-width:689px) and (max-width:992px) {
    .players{
        grid-template-columns: repeat(2,1fr);
    }
    .get-involved-container{
        grid-template-columns: repeat(2,1fr);
    }
}